* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo img {
    height: 40px;
    width: 38px;
    background-color: white;
    border-radius: 25px;
    margin: 11px 37px;
}

#navbar ul {
    display: flex;
    margin: 6px 28px;
    font-family: 'Baloo Bhai';
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    margin: 0px 12px;
}
#navbar ul li a:hover,
#navbar ul li a.active {
    color: black;
    background-color: white;
}

.slide1 {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-slide1{
    background: url(../Image/logo2.jpg) no-repeat center center/100% 100%;
    height: auto;
    width: 50%;
}

.box {
    height: 80%;
    width: 40%;
    margin: 40px 12px;
    padding: 7px 15px;
    box-shadow: 7px 7px 10px black;
    overflow-y: scroll;
}
.box h2{
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Lumanosimo', cursive;
    margin-bottom: 23px;
}
.box p{
    padding: 12px 8px;
    font-size: 1.3rem;
    font-family: 'Lumanosimo', cursives;

}
.slide2{
    background-color: #e0f3f0;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}
.image-slide2{
    background: url(../Image/tanjim1.png) no-repeat center center/ 100% 100%;
    height: 70%;
    width: 42%;
    margin: auto;
}
.box-info{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 8px 12px;
}
.box-info h1{
    font-family: 'Bree Serif', serif;
    margin: 20px 9px;
}
.box-info p{
    font-family: 'Lumanosimo', cursives;
    padding: 12px 22px;
}
.slide3{
    height: 60vh;
    padding: 22px 0;
}
.social-media{
    display: flex;
    margin: 12px 22px;
    justify-content: center;
    flex-wrap: wrap;
}
.slide3 h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    margin-bottom: 100px;
}
.youtube, .facebook , .instagram{
    display: flex;
    border: 2px solid black;
    width: 21%;
    margin: 6px 32px;
    border-radius: 50px;
    align-items: center;
    height: 10vh;
    padding: 6px 17px;
    background-color: #e0f3f0;
}
span a{
    color: black;
}
.youtube #img{
    background: url(https://yt3.googleusercontent.com/KkGc3_3Ek__Rvv09iQj0wiYYfjbINqnsBDQn4Z2I3xQPJURHmK4XlJveCzOwx1jwyF84euQdNnA=s176-c-k-c0x00ffffff-no-rj) no-repeat center center/100%;
    height: 10vh;
    width: 22%;
    border: 1px solid grey;
    border-radius: 40px;
    margin-right: 12px;
}
.facebook #img{
    background: url(../Image/tanjim.jpg) no-repeat center center/cover;
    height: 10vh;
    width: 22%;
    border: 1px solid grey;
    border-radius: 40px;
    margin-right: 12px;
}
.instagram #img{
    background: url(../Image/tanjim.jpg) no-repeat center center/cover;
    height: 10vh;
    width: 22%;
    border: 1px solid grey;
    border-radius: 40px;
    margin-right: 12px;
}
.facebook:hover, .youtube:hover, .instagram:hover{
    box-shadow: 7px 7px 10px grey;
}
.developer{
    background-color: rgba(128,128,128,50%);
    height: 35vh;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 5vh;
    width: 20%;
    margin: 18px 0px;
}
.center{
    text-align: center;
}
.developer p{
    font-family: 'Lumanosimo', cursives;
}
.follow{
    display: flex;
    justify-content: center;
    margin: 22px 4px;
}
.insta , .fb, .linkedin{
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    height: 40px;
    width: 40px;
    margin: 0 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.insta::before{
    content: '';
    background-color: rgb(255 0 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: .5s;
}
.insta:hover::before{
   width: 100%;
}
.insta:hover{
    color: white;
}
.fb::before{
    content: '';
    background-color: rgb(5 116 231);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: .5s;
}
.fb:hover::before{
   width: 100%;
}
.fb:hover{
    color: white;
}
.linkedin::before{
    content: '';
    background-color: rgb(10 102 194);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: .5s;
}
.linkedin:hover::before{
   width: 100%;
}
.linkedin:hover{
    color: white;
}

/* Css for responsive website */
@media ( width<=700px) {
    .image-slide2{
        height: 40%;
        width: 45%;
    }
    .box-info p {
        padding: 12px 0px;
        font-size: 0.8rem;
    }
    .box-info h1 {
        font-size: 1.4rem;
    }
    .slide2 {
        height: 68vh;
    }
    .slide1 {
        height: 65vh;
    }
    .box h2 {
        font-size: 2rem;
    }
    .box p {
        font-size: 1rem;
    }
    .slide3 {
        height: 42vh;
    }
    .youtube, .facebook, .instagram{
        height: 5vh;
        margin: 6px 20px;
    }
    .instagram #img, .facebook #img , .youtube #img{
        height: 4vh;
        width: 30%;
    }
    .developer {
        height: 28vh;
    }
    .logo img {
        height: 35px;
        width: 51%;
    }
    @media (width<=460px){
        #navbar {
            flex-direction: column;
        }
        .slide1 {
            height: 38vh;
        }
        .box{
            padding: 7px 7px;
        }
        .box p {
            font-size: 0.6rem;
        }
        .box h2 {
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        #navbar ul li{
            font-size: 0.8rem;
        }
        #navbar ul li a{
            padding: 5px 8px;
        }
        .box {
            height: 74%;
        }
        .slide2 {
            height: 47vh;
        }
        .box-info h1 {
            font-size: 1rem;
        }
        .box-info p {
            padding: 8px 0px;
            font-size: 0.5rem;
        }
        .image-slide2 {
            height: 37%;
            width: 51%;
        }
        .slide3 h1 {
            font-size: 1.8rem;
            margin-bottom: 90px;
        }
        .slide3 {
            height: 37vh;
        }
        .youtube, .facebook, .instagram {
            height: 5vh;
            margin: 13px 16px;
            width: 30%;
        }
        span a{
            font-size: 0.5rem;
        }
        .developer {
            height: 23vh;
        }
        .logo img {
            height: 28px;
            margin: 13px 0px;
        }
        .follow{
            margin: 30px 3px;
        }
        .developer h1{
            font-size: 1.5rem;
        }
        .developer p{
            font-size: 0.5rem;
        }
    }
}
