*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.3;
}
#logo img{
    height: 40px;
    width: 38px;
    background-color: white;
    border-radius: 25px;
    margin: 11px 37px;
}
#navbar ul{
    display: flex;
    margin: 6px 28px;
    font-family: 'Baloo Bhai';
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    margin: 0px 12px;
}
#navbar ul li a:hover, #navbar ul li a.active{
    color: black;
    background-color: white;
}
#about::before{
    content: "";
    background: url('https://scontent.fcgp17-1.fna.fbcdn.net/v/t39.30808-6/269602633_3052958608285867_5401053842305308528_n.jpg?stp=dst-jpg_p960x960&_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEHkotuG_SNrOpth8hVvWgONbB74BGFuDg1sHvgEYW4OMxEpdw5vBxObQpTRMCRwxNWZg_5hug9jsDN62ollXtG&_nc_ohc=ILj9WkwkeS0AX_KPL8v&_nc_ht=scontent.fcgp17-1.fna&oh=00_AfAp04NkmzZEp_tCzXHzomnvIHkL5qoPUeLwPjpAPpkeQw&oe=64B2A126') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
#about{
    display: flex;

}
#about .box{
    border: 2px solid blue;
    height: 310px;
    width: 325px;
    font-size: 1.06rem;
    font-family: 'Bree Serif', serif;
    margin: 50px 30px;
    padding: 12px 14px;
    border-radius: 10px;
    box-shadow: 13px 13px 10px #7d7de6;
}
@media (width <=726px){
    #navbar{
        flex-direction: column;
    }
    @media (width <=532px){
        #navbar ul li{
            font-size: 0.85rem;
        }
        #navbar ul li a{
            padding: 5px 10px;
        }
    }
    @media (width <= 430px){
        #about .box{
            font-size: 0.9rem;
            color: white;
            position: absolute;
            bottom: 0px;
            height: 230px;
            width: 330px;
        }
        #about::before{
            height: 109vh;
        }
    }
}